:markdown
	# App Dot Net in Maintenance Mode

	[App.net announced this week](http://blog.app.net/2014/05/06/app-net-state-of-the-union/) that it is essentially leaving development/growth mode and moving to maintenance mode. They're letting go of their full-time employees and hiring consultants on an as-needed basis.

	It makes me sad that ADN couldn't become a techy or geeky alternative to Twitter. Since Twitter's growth into full mass audience appeal, I always thought that niche social networks would start cropping up everywhere. I thought that niche social networks would be good replacements for the outdated forum. In fact, when ADN announced that their character limit would be 256 instead of Twitter's 140, I took it as proof that replacing online forums was exactly what they were going for.

	Now, barring a surprise twist, it looks like the App.net experiment is sadly closing down. Good job to them. The quality of apps that they got developers to produce was suprising. Wedge and, my favorite, [Riposte](http://riposteapp.net/) are good examples.

	And good for those developers and geeks that did in fact post regularly (Brett Terpstra, John Marstall, Brianna Wu, Matt Gemmell...) and otherwise supported the effort. The problem of course was finding time to add another network to the current list of apps that are always pulling for our attention. ADN just didn't have the appeal for enough of the uber-geeks who may have encouraged their many Twitter followers to give it a try.

	But wait, ADN isn't dead yet. Maybe a niche social network only needs to exist and maybe have a few contractors occasionally oiling the gears to have a long life. Some people may continue to use it and attract a trickle of others. And that could be what a niche social network is supposed to be. Maybe eventually ADN will in fact become the place where geeks go when they want a little more geek culture conversation than Twitter has to offer.

	I'm paid up for another year, so as long as Dalton keeps the lights on, I'll keep checking in.
