<div class="row">

	<div class="small-12 large-9 large-centered column">

		<div class="row">

			<div class="small-12 medium-9 column">

				<h1>Archive</h1>

				<%- partial("../_partials/_posts--summary", {navClass: 'block-list'}) %>

			</div>

		</div>

	</div>

</div>
