// .datestamp March 4, 2014

:markdown
    # “Plan”

    <p class="datestamp">March 4, 2014</p>

    [A note found after a visit by Aurora to my office one day]

          Conversation & Notes
          Plan

          Hide in box room
          Look at papers
          Figure out the mystery
          While man out look in
          Computer
          Go back in box room
          Sneak through the
          Kitchen
          Ask daddy for lunch

          -----------------------

          Working in government
          att.com/mygreatdeal
