// .datestamp July 30, 2014

:markdown
	# If I Were a Bee

	<p class="datestamp">July 30, 2014</p>

	[Aurora's bee-related homework writing.]

	> If I was a bee it would be really tough. The good thing is I don’t have school. But I still have to squeeze out of the hive and collect pollen for the queen every week. On weekends, I quit doing work and usually rest in the hive. Sometimes I go down to the park and have a picnic. Whenever the skin of our hive cracks, I quickly repair it with honey. I am the second best bee because I’m good at distracting bears. We always have a quart of honey a day.
	> ## SAFETY! POSTER
	> ## Rules About bees
	> 1. Never go near or touch a bee’s hive.
	> 2. Do not scare bees away because it will sting you.
	> 3. If a bee lands on your finger, do not kill it. Instead, pet it very softly.
