// .datestamp February 3, 2014

:markdown
	# Flat is fine, but legible is better

	<p class="datestamp">February 3, 2014</p>

	Back in the 90’s in both print and web (most web design then was done by print designers) tiny type and low contrast was trendy for a time. I hated it. It was one of the reasons why I started looking for something different and found [Designing With Web Standards](http://en.wikipedia.org/wiki/Designing_with_Web_Standards).

	<div class="float--right">
		<figure>
			<img class="img--fluid" src="/posts/img/evernote-app-home.jpg" alt="Evernote iOS homescreen">
			<figcaption>Evernote’s iOS7 homescreen</figcaption>
		</figure>
	</div>

	For me, [Evernote](https://evernote.com/) has always been an inspiration for good design of a complex interface. I’ve always liked it’s layout and typography, and use of green as a focus and highlight color in an otherwise minimal dark-light design. But a recent redesign of the app changed the way they used green. Or maybe it’s more accurate to say that the change was to *only* use green.

	I use Evernote (although not avidly) and I wish they’d bring some of the contrast back. Yesterday I actually found myself closing the app as soon as I opened it and tried to find what I was looking for. It’s the third time that’s happened this week. But this isn’t really about my preference or sad print design memories. Accessibility guidelines require certain contrast ratio between text color and background, and Evernote's iOS app homescreen listView [fails](http://leaverou.github.io/contrast-ratio/#%23C2FBFF-on-%2369A279) the requirement.

	My guess is that in their move to make the interface flatter and more in line with iOS 7, the contrast got scrapped along with the shadow and illusion of depth. I predicted that the flat trend was going to make some designers forget accessibility and the general rule that web design is only as good as its effectiveness in communicating content.

	<figure class="fit">
		<img class="img--fluid" src="/posts/img/no-contrast-email-help.png" alt="Low contrast email help text">
		<figcaption>Funny! (Not Evernote, but from a real email)</figcaption>
	</figure>

	Contrast helps make things legible.
