// .datestamp February 10, 2012

:markdown
	# For whom Helvetica speaks

	<p class="datestamp">February 10, 2012</p>

	The ubiquity of Helvetica, and the fact that it's free, makes it very difficult for a designer to resist being drawn to it, especially early in his/her career when he or she is not as confident in their voice.

	Helvetica provides the voice for them. Or rather, because Helvetica's neutrality makes it essentially a typeface without an opinion, it allows young designers to avoid that decision and focus instead on aesthetics.
