// .datestamp July 7, 2016

:markdown
	<p class="datestamp">July 7, 2016</p>

	Fun with Adobe Sketch on my iPad Pro. Pixels on screen.

	<img src="img/house-on-an-island.png" class="img--fluid" alt="An iPad drawing of a house on an island at almost sunset.">
