:markdown
	# Microsoft’s New “Inclusive Design”

	<p class="datestamp">Aug 12, 2016</p>

	I missed this great long read by [Cliff Kuang on fastcodesign.com](http://www.fastcodesign.com/3054927/the-big-idea/microsofts-inspiring-bet-on-a-radical-new-type-of-design-thinking) back in February about how a new design thinking concept has taken root in Microsoft:

	> De los Reyes and Holmes, with the help of design experts including Allen Sayegh at Harvard and Jutta Treviranus at the Ontario College of Art and Design, eventually hit upon a vein of design thinking descended from Pat Moore, and universal design. Dubbed inclusive design, it begins with studying overlooked communities, ranging from dyslexics to the deaf. By learning about how they adapt to their world, the hope is that you can actually build better new products for everyone else.

	This is similar to the idea of accessible web design, which is misunderstood to mean that it’s for allowing your site to work on screen readers, the class of browsers that deaf people use to surf the web. It’s much more than that. By thinking in terms of accessibility throughout the web design process, you end up with a product that works well for everyone. 

	By properly designing and coding a web form, you not only make it easier for screen readers, but also for people with temporary or permanent motor disabilities in their hands, as well as for perfectly able people riding on a moving bus. 

	This idea of “inclusive design” sounds like a revelation within Microsoft. If it does take hold there, I hope the idea spreads just like responsive design has done. Really inspiring story.