style.
	@media (min-width: 1100px) {
		body {
			background: url(/posts/img/colorwheelMunsell.svg);
			background-size:cover;
		}
	}


h1 The Munsell Color Wheel

p(class="datestamp") May 16, 2014

figure(class="standalone centered")
	img(src="/posts/img/colorwheelMunsell.png", class="movie-poster", alt="The Munsell Color Wheel")
	figcaption The Munsell Color Wheel

