// .datestamp February 12, 2012

:markdown
	# No one wants to make lists (that way)

	<p class="datestamp">February 12, 2012</p>

	Mark Zuckerburg once said that “no one wants to make lists,” referring to the tedium of defining nuanced relationships in social networks. Facebook offers no distinction between one “friend” or another. Many of your Facebook friends right now are people who you regularly visit, who you give presents to on their birthdays or on Xmas. Maybe they’re people you've been real-life friends with for years.

	Another one of your Facebook friends is your mother, or maybe your boss. Sorry!

	It's as absurdly simplistic to label everyone a “friend” as it is to simply “like” something.

	No normal human would call everyone they’ve “friended” on Facebook an actual friend (and, sadly, using the word "friended" is almost normal human speech now). I actually believe the opposite of Zuckerburg's inference: I believe most people would indeed like to fine-tune their online relationship definitions. And making lists is probably not the correct mental model here. Lists require labels first, and as soon as you create any label for anything, there will immediately follow a case that doesn't fit it. It's probably why Facebook just uses “friend”.

	The real problem is that no really good UI exists yet. Google Plus’s Circles is the best attempt I've seen so far. Not only can you create as many circles (lists) as you want, you can _name them anything you want_. (i.e., “BFFs”, “Work Friends”, “Knew in High School”, etc.)

	It's a good step. And although the problem is far from solved, I think the concept of circles is the first bold attempt to approximate the inner algorithm each of us uses in the real world to define our relationships. It would be great to see other apps build on that idea.
