<%
	// this needs additional set up when serving
	// static (compiled) html
%>
<div class="row">
	<div class="medium-8 medium-centered large-6 column">

		<h1 class="giga">Um.</h1>

		<p>Hi.</p>

		<p>Back to the <a href="/">homepage then</a>?</p>

	</div>

</div>
