<%
	var thisYear = new Date().getFullYear();
	var exp = thisYear - 2002;
%>

<div class="row">

	<div class="small-12 medium-10 large-8 column">

		<div class="small-12 medium-3 column">

			<h1 class="giga">¡Hola!</h1>

		</div>

		<div class="small-12 medium-8 column">

			<p>I’m a designer with <%- exp %>+ years experience designing for the web.</p>

			<p>I love making things that work and look great.</p>

			<p>I like working with small teams of talented and passionate designers and developers.</p>

			<p>I’m an avid believer in solving design problems through iteration until a thing is simple and great.</p>

			<p>I’m not happy unless I’m learning something new.</p>

			<p>I try to make designs that help people or make their lives easier.</p>

			<p>I’m an avid reader and I’ve made some <a href="/art" title="some old work">art</a>.</p>

			<p>I often fail to update my <del>un</del> <ins>rarely</ins> edited <del>online</del> <del>blog</del> <a href="/posts">journal</a></p>

			<p>I kern often.</p>

			<p>If just one child from an English-speaking family learns that in the Spanish alphabet, the <b>ñ</b> is a different letter than the <b>n</b>, this will all have been worth it.</p>

			<p>Contact me anytime through <a href="https://twitter.com/jorgepinon" title="My handle is @jorgepinon">twitter</a> or <a href="https://alpha.app.net/jorge" title="I’m @jorge on app.net">app.net</a>. </p>

		</div>

	</div>

</div>
