<%
	var thisYear = new Date().getFullYear();
	var exp = thisYear - 2002;
%>

<div class="row">

	<div class="small-12 medium-10 large-8 column">

		<div class="small-12 medium-3 column">

			<h1 class="giga">¡Hola!</h1>

		</div>

		<div class="small-12 medium-8 column">

			<p>I’m a web designer and front-end developer living in Miami Beach with <%- exp %>+ years experience working on the web. What I like doing best is working on user-centered design ideas from sketch to wireframes, to prototypes, to production code. I’ve been using Illustrator and Photoshop way too long, and I’m comfortable coding client-side HTML, CSS, and JS at all hours of the day and night in a few different environments, like NodeJS, Java, PHP/Wordpress, and Rails.</p>

			<p>I’m an avid believer in solving design problems through iteration until a thing is simple and great.</p>

			<p>I like working with small teams of talented and passionate designers and developers.</p>

			<p>I’m not happy unless I’m learning something new.</p>

			<p>In another life I made some <a href="/art" title="some old work">art</a>.</p>

			<p>Do <i>not</i> read the <a href="/posts">things I’ve written here</a>. They suck.</p>

			<p>If just one child learns that, in Spanish, the <b>ñ</b> is a different letter than the <b>n</b>, this will all have been worth it.</p>

			<p>If you’ve got a project you think I can help with, contact me anytime through <a href="https://twitter.com/jorgepinon" title="My handle is @jorgepinon">twitter</a>. I also might be on LinkedIn.</p>

		</div>

	</div>

</div>
