<%
	var thisYear = new Date().getFullYear();
	var exp = thisYear - 2004;
%>

	<div class="row">

		<div class="column">

			<p>My name is Jorge Piñon.</p>
			
			<p>I’m a freelance web designer and front-end web developer with plenty of full stack experience.<sup>*</sup> I
			build web sites and web apps for a living. Here’s the list of stuff I’m mostly familiar with: HTML, CSS, JavaScript, jQuery,
			Illustrator, Photoshop, Git, NPM, Bootstrap, Foundation, Wordpress, PHP, Invision, Rails, Node.js, Java/Spring, Grunt, .NET.</p>

			<p><a href="/work">Examples of work</a></p>

			<hr>
			<p class="footnote"><small>* Although apparently not enough to call myself a full-stack developer.</small></p>

		</div>

	</div>