<div class="row">

	<div class="small-12 column">

		<h1>H1 Heading</h1>
		<h2>H2 Heading</h2>
		<h3>H3 Heading</h2>
		<h4>H4 Heading</h4>

		<p>Paragraph paragraph yada yada yada.</p>
		<p>Just another paragraph to test spacing in between.</p>


		<div class="row">
			<h2>figure</h2>

			<% for(var i = 0; i < 3; i++) { %>
				<figure>
					<a href="/work/grassroots-events.html" title="read about GrassRoots Events">
						<img src="work/img/th/grevents_home-sm.jpg" alt="" data-large-image="img/grevents_home.jpg">
					</a>
					<figcaption>
						<a href="/work/grassroots-events.html" title="read more">Caption with link</a>
					</figcaption>
				</figure>

				<figure>
					<a href="/work/grassroots-events.html" title="read more">
						<img src="work/img/th/grevents_home-sm.jpg" alt="" data-large-image="img/grevents_home.jpg">
					</a>
					<figcaption>
						<span>Caption no link</span>
					</figcaption>
				</figure>
			<% } %>
		</div>

		<div class="row">
			<h2>figure.card</h2>

			<% for(var i = 0; i < 3; i++) { %>
				<figure class="card">
					<a href="/work/grassroots-events.html" title="read about GrassRoots Events">
						<img src="work/img/th/grevents_home-sm.jpg" alt="" data-large-image="img/grevents_home.jpg">
					</a>
					<figcaption>
						<a href="/work/grassroots-events.html" title="read more">Caption with link</a>
					</figcaption>
				</figure>

				<figure class="card">
					<a href="/work/grassroots-events.html" title="read more">
						<img src="work/img/th/grevents_home-sm.jpg" alt="" data-large-image="img/grevents_home.jpg">
					</a>
					<figcaption>
						<h3 class="title">title</h3>
						<p>Caption no link</p>
					</figcaption>
				</figure>
			<% } %>
		</div>


		<div class="row">
			<h2>figure.fit</h2>

			<% for(var i = 0; i < 3; i++) { %>
				<figure class="fit">
					<a href="/work/grassroots-events.html" title="read about GrassRoots Events">
						<img src="http://placehold.it/900x100" alt="">
					</a>
					<figcaption>
						<h3 class="title"><a href="/work/grassroots-events.html" title="read more">Caption .title with link</a></h3>
					</figcaption>
				</figure>

				<figure class="fit">
					<a href="/work/grassroots-events.html" title="read more">
						<img src="http://placehold.it/900x100" alt="">
					</a>
					<figcaption>
						<h3 class="title">title</h3>
						<p>Caption no link</p>
					</figcaption>
				</figure>
			<% } %>
		</div>



</div>
