<div class="entry">

	<h1>AMD Rewards <span class="dateyear">2011</span></h1>

	<p>What I will always remember most about this project was creating the tab effect on the main nav. I always loved <a href="http://www.awayback.com/wp-content/uploads/2010/04/veer_nav.png">veer.com’s</a> navigation style and used the same style here.</p>

	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/amd_home.jpg" alt="screenshot of AMD homepage">
				<figcaption>homepage (html, css, javascript/jquery)</figcaption>
			</figure>

		</div>
	</div>

	<p>I’m also kinda proud that we were using a navbar before Twitter Bootstrap made it defacto.</p>

	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/amd_profile.jpg" alt="screenshot of AMD profile form">
				<figcaption>interior page and form design</figcaption>
			</figure>

		</div>
	</div>

</div>
