<div class="entry">

	<h1>Avaya Dashboard <span class="dateyear">2010</span></h1>

	<p>Avaya salespeople joined an internal sales challenge that incentivized them for reaching sales milestones. Because of the complexity of their products, they needed a site to help quickly understand where they stood in the contest. Our developer worked with our business analyst to figure out the logic involved for each complex sales invoice and I came up with a layout for the dashboard. </p>

	<div class="row">

		<figure>
			<img src="img/avaya_dashboard.jpg" alt="screenshot of Avaya dashboard">
			<figcaption>
				<p>Dashboard-style homepage (html, css, javascript/jquery)</p>
			</figcaption>
		</figure>

	</div>

	<p>We also created a welcome video to give an overall view of the contest goals. </p>

	<div class="row">

		<figure>
			<img src="img/avaya_modal.jpg" alt="screenshot of Avaya dashboard with modal">
			<figcaption>
				<p>Lightbox overlay with video (css, jquery, creative direction)</p>
			</figcaption>
		</figure>

	</div>

</div>
