<div class="entry">

	<h1>Choose Digital Booth Graphics <span class="dateyear">2014</span></h1>

	<%- partial('_tags') %>


	<p>Except for when a large company rents out a large, prime location in a trade show, the goal of booth graphics is to stand out in a sea of similar sized booths all jammed together. As a startup Choose Digital were no exception. </p>
	
	<p>We were pushing our ability to visually customize an online digital media store to match any company’s brand requirements, so a little visual candy was called for. I took our play button logo and gave it a glass/lens appearance and placed it close to the top of the 8-foot booth, so that it could be seen over the crowds. </p>

	<p>I suspect I was influenced by Apple’s <a href="https://en.wikipedia.org/wiki/Aqua_(user_interface)">Aqua</a> interface a bit, too.</p>

	<p>I also couldn’t resist adding a small <a href="own-your-music-logo.html">Own your music</a> logo at the bottom right.</p>

	<div class="row">

		<figure>
			<img src="img/choose-digital-booth-graphics.jpg" alt="8-foot booth graphics mockup">
			<figcaption>
				<p>Choose Digital 8ft &times; 8ft booth</p>
			</figcaption>
		</figure>

	</div>

</div>
