<div class="entry">

	<h1>ChooseDigital.com <span class="dateyear">2012</span></h1>

	<p>I joined <a href="http://choosedigital.com">Choose Digital</a> very soon after they opened for business and needed someone to build their site as well as lead web design for their web app products. They’re a startup and expected everyone to wear several hats. They were building e-commerce sites that sold music and other digital media to large loyalty programs. </p>

	<p>Responsive Web Design had been recently introduced by Ethan Marcotte and some of my friends were talking alot about CSS preprocessors, and I was eager to work on something where I could dive into those new techniques. </p>

	<div class="row">

		<figure>
			<img src="img/choose_website_homepage.jpg" alt="screenshot of Choose Digital homepage section">
			<figcaption>
				<p>Section of homepage (design and code)</p>
			</figcaption>
		</figure>

	</div>

	<p>This one is VERY MUCH a work in progress. The company’s website is by necessity one of those internal projects that never get enough time. The goal really is to be simple and clear in the design because we brand ourselves as a transparent partner, building and managing client-branded websites for <i>their</i> loyal customers. It’s a relationship we’re always cognizant of and take very seriously.</p>

	<div class="row">

		<figure>
			<img src="img/choose_website_content.jpg" alt="screenshot of detail of Choose Digital interior page">
			<figcaption>
				<p>Typography and iconography (design and code)
			</figcaption>
		</figure>

	</div>

</div>
