<div class="entry">

	<h1>GrassRoots Events <span class="dateyear">2012</span></h1>

	<p>The Grass Roots Events Division was setting up new offices in Manhattan and needed a website up and running quickly. We needed to find a CMS that we could build up quickly and that would be easy for them to manage certain content sections on their own. I decided again on using Expression Engine and worked with Micstura, a Miami agency specializing in Expression Engine, to help code up the site. </p>

	<div class="grid">
		<div class="grid__item desk-two-thirds">

			<figure>
				<img src="img/grassroots-events-homepage-v1.jpg" alt="screenshot of the GrassRoots Events homepage">
				<figcaption>
					<p>homepage</p>
				</figcaption>
			</figure>

		</div>

		<div class="grid__item desk-one-third">
			<p>Working with an external team is a great experience, especially, or maybe as long as, they’re talented. This design benefitted a lot I think from having outside sensibilities contributing to it.</p>

			<p>It definitely sped things up too. I’m too often a control freak which usually results in long hours to meet deadlines (I almost wrote “meat deadlines” there and now my mind is filled with horrific images.). In this case though, I worked mostly as a designer and director and left the coding to the agency.</p>

		</div>

	</div>

	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/grevents_contact.jpg" alt="screenshot of the GrassRoots contact page">
				<figcaption>
					<p>contact page</p>
				</figcaption>
			</figure>

		</div>
	</div>

</div>
