<div class="entry">

	<h1>Grizzlies Gametime <span class="dateyear">2006</span></h1>

	<%- partial('_tags') %>


	<p>I worked for a while at the Memphis Grizzlies marketing department as a front-end developer. To supplement the official NBA web platform CMS, we added a site that allowed some internal team personalities to blog and generate more communication with fans. Those were lean times at the Grizzlies with the team struggling on the court, so the marketing department was trying everything to keep fans interested.</p>

	<div class="row">
		<figure class="fit">
			<img src="img/grizzgametime_detail.jpg" alt="screenshot of Grizzlies Gametime template">
			<figcaption>
				<p>Detail (site built with Expression Engine)</p>
			</figcaption>
		</figure>
	</div>

	<p>It was a good opportunity to build a CMS site, something I knew I had to get more experience in. Looking back I realize that I really enjoy creating interfaces from dynamic content and/or states. Displaying dynamic content in a meaningful way and exploring layout and color to create a hierarchy and visual flow. </p>

	<div class="row">

		<figure class="fit">
			<img src="img/grizzcal_detail.jpg" alt="screenshot of Grizzlies calendar">
			<figcaption>
				<p>Calendar</p>
			</figcaption>
		</figure>

	</div>

	<p>My background was drawing and painting, then a few years of print design, until I decided to teach myself web design. After a couple of years of working on smallish projects, the Grizzlies gave me a great playground to dive deep into HTML and CSS. Just a few months later I started teaching Web Design at the Memphis College of Art. </p>


</div>
