<div class="entry">

	<h1>HP Palm Rewards <span class="dateyear">2010</span></h1>

	<p>Sadly the HP Palm phones didn't last, but it was not for lack of quality and talent. HP was one of the few clients that had beautiful product photography and a very well-considered set of brand guidelines and style requirements. The requirements both gave us room to explore our own layout concepts but with enough control to align our app with their other sites. </p>

	<div class="grid">
		<div class="grid__item desk-one-half">

			<figure>
				<img src="img/hprewards_landing_lg.jpg" alt="screenshot of HP Palm Rewards landing page">
				<figcaption>
					<p>log-in form</p>
				</figcaption>
			</figure>

		</div>

		<div class="grid__item desk-one-half">

			<figure>
				<img src="img/hp-depositform-open-360.jpg" alt="detail of submit form">
				<figcaption>
					<p>detail of code entry form</p>
				</figcaption>
			</figure>

		</div>

	</div>

</div>
