<div class="entry">

	<h1>Humane Society of Memphis <span class="dateyear">2003</span></h1>

	<%- partial('_tags') %>


	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/humsoc_id-detail.jpg" alt="logo, brochure, business cards">
				<figcaption>
					<p>circa 2003. branding and fundraising material. design, production</p>
				</figcaption>
			</figure>

		</div>

		<div class="grid__item">

			<figure>
				<img src="img/humsoc_homepage.jpg" alt="screenshot of Humane Society homepage">
				<figcaption>
					<p>homepage. design, code (html, css)</p>
				</figcaption>
			</figure>

		</div>

	</div>

</div>
