<div class="entry">

	<h1>Forestry and Sustainability microsite <span class="dateyear">2008</span></h1>

	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/ip_web_detail.jpg" alt="screenshot of IP Sustainability landing page">
				<figcaption>
					<p>design and code (html, css, js)</p>
				</figcaption>
			</figure>

		</div>

	</div>
</div>
