<div class="entry">

	<h1>Menu creator app settings UI
		<span class="dateyear">20017</span>
	</h1>

	<%- partial('_tags') %>


		<div class="grid">
			<div class="grid__item">

				<figure>
					<img src="img/menuapp-settings-form-ui.png" alt="screenshot of settings form">
					<figcaption>
						<p>Concept, design, HTML, CSS, JavaScript </p>
					</figcaption>
				</figure>

				<p>Form UI design for a page builder web app. The UX idea here is that the editing page itself should use previously saved design settings (colors, theme, etc). Additionally, if the user chooses to add a background image for their design, the edit form page itself loads that image as a background, just as the final product would appear. </p>

				<p>The idea being that the editor has a good idea of the legibility of their final site because the settings page itself mimics the same design that the final site would have.</p>

			</div>

		</div>
</div>