<div class="entry">

	<h1>Own Your Music logo and tshirt <span class="dateyear">2013</span></h1>

	<%- partial('_tags') %>


	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/own-your-music-tshirt-colors.png" alt="Own Your Music T-shirt colors">
				<figcaption>
					<p>concept &amp; design</p>
				</figcaption>
			</figure>

		</div>

		<p>To generate some interest during a hackathon we co-sponsored, we wanted to create a t-shirt for any dev teams that wanted to build something using our digital music API. I came up with this logo with a few different taglines:</p>
		<ul>
			<li>I own my music, thank you.</li>
			<li>Support musicians. Buy your music.</li>
			<li>Does Pandora pick your music?</li>
			<li>Real fans own music.</li>
			<li>Fans don’t stream.</li>
			<li>Wanna go back to my place and <del>listen to whatever Pandora recommends</del> check out my music collection?</li>
			<li>Own your music.<sup>*</sup></li>
		</ul>

		<p><small>* Chosen for printing.</small></li>


	</div>

</div>
