<div class="entry">

	<h1>ProLogic Systems website <span class="dateyear">2011</span></h1>

	<%- partial('_tags') %>


	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/prologic-homepage-full.jpg" alt="website for ProLogic">
				<figcaption>
					<p>design, copywriting, code (html, css, js)</p>
				</figcaption>
			</figure>

		</div>

	</div>

</div>
