<div class="entry">

	<h1>Rewards Network iOS app website <span class="dateyear">2008</span></h1>

	<div class="grid">
		<div class="grid__item">

			<figure>
				<img src="img/whitetabledining_detail.jpg" alt="webdesign restaurant search tool">
				<figcaption>
					<p>design, code (html, css, js)</p>
				</figcaption>
			</figure>

		</div>

		<div class="grid__item">

			<figure>
				<img src="img/rndiningsite-detail.jpg" alt="How-to tool for using the RNDining iPhone App">
				<figcaption>
					<p>design, code (html, css, js)</p>
				</figcaption>
			</figure>

		</div>

		<div class="grid__item">

			<figure>
				<img src="img/rnbbapp-detail.jpg" alt="webdesign for BlackBerry app download tool">
				<figcaption>
					<p>design, code (html, css, js)</p>
				</figcaption>
			</figure>

		</div>

	</div>

</div>
