<div class="entry">

	<h1>Watsco.com
		<span class="dateyear">2018</span>
	</h1>

	<%- partial('_tags') %>

	<div class="row">

		<figure>
			<img class="lazyload" data-src="img/watsco.com-home-layout--crop.jpg" src="img/watsco.com-home-layout--crop--sm.jpg" alt="screenshot of Watsco.com homepage detail">
			<figcaption>Homepage detail</figcaption>
		</figure>

	</div>

	<p>Watsco.com needed a <a href="http://www.watsco.com">site redesign</a> to update their old, non-responsive one. The new site design was provided by the client and based heavily on Microsoft’s <a href="https://en.wikipedia.org/wiki/Metro_(design_language)">Metro UI</a> tiles. The challenge for the tile pattern was to make them responsive while keeping them somewhat square. I made a <a href="https://jsfiddle.net/jorgeluis/xzgxqxrv/">demo fiddle</a> to see the solution.</p>
	
	<p>Another problem to solve was that there were several tile types and it took a few rounds with the pattern library to find a good BEM approach.</p>
	
	<p>There was a requirement to use Bootstrap, and I opted to use the excellent Bones Wordpress theme to build on. Bones is a sparse (as in “Bare Bones”, "Skeleton", etc) theme that is really easy to customize. </p>


	<div class="row">
	
		<figure>
			<img class="lazyload" data-src="img/watsco.com-home-investorstory-widget.jpg" src="img/watsco.com-home-investorstory-widget--sm.jpg" alt="screenshot of Watsco.com homepage investor story widget">
			<figcaption>Investor story widget</figcaption>
		</figure>
	
	</div>


</div>