<footer role="contentinfo">
	<nav class="text-centered">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="https://twitter.com/jorgepinon">twitter: @jorgepinon</a>
		<a href="https://alpha.app.net/jorge">app.net: @jorge</a>
	</nav>
</footer>
