<footer role="contentinfo">
	<nav class="text-centered">
		<a href="/">Home</a>
		<a href="/rss.xml">RSS</a>
		<a href="/about.html">About</a>
		<a href="https://twitter.com/jorgepinon">twitter</a>
		<a href="https://jsfiddle.net/user/jorgeluis/fiddles/">jsfiddles</a>
		<a href="https://github.com/jorgepinon">github</a>
	</nav>
</footer>
