<div class="row">

	<div class="small-12 small-centered column">

		<ul class="nav--block">
			<%
			for(slug in public.art._data) {
				var artwork = public.art._data[slug];
			%>
				<%- partial('_figure-artwork', {artwork: artwork}) %>
			<% }; %>
		</ul>

	</div>

</div>
