<div class="row">

	<div class="small-12 large-9 large-centered column">

		<div class="row">

			<div class="small-12 medium-9 column">

				<ul class="nav--block">
					<%
					for(slug in public.art._data) {
						var artwork = public.art._data[slug];
					%>
						<%- partial('_figure-artwork', {artwork: artwork}) %>
					<% }; %>
				</ul>

			</div>

		</div>

	</div>

</div>
