<html>
	<head>
		<title>camera input</title>
		<meta name="" content="">
	</head>

	<body>
		<form action="/">
			<label for="camera">upload photo</label>
			<input type="file" accept="image" name="camera" id="camera" value="" capture="camera">

			<button type="submit">Upload</button>
		</form>
	</body>
</html>