.card {
	margin: 0 0 1em 0;
	overflow: hidden;
	padding: 0.5em;
	background: $white;
	border: none;
	float: left;
	width: 49%;
	max-width: 280px;
	background-color: rgba(0,0,0,0);
	-webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;


	figcaption {
		text-align: left;
		overflow: hidden;

		a:hover {
			text-decoration: none;
		}
	}

	&:hover {
		background-color: rgba(0,0,0,0.05);

		img {
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
		}

	}
}

.card-title {
	font-size: 1.3em;
	margin: 0;
}

.card-description {
	margin: 1em 0;
}

// initially horizontal layout
.card--sm-horizontal {
	.card-image {
		float: left;
		width: 33%;
	}
}


// wrap in .cards container for size control
.cards {
	clear: left;
	list-style: none;
}

@media all and (min-width: 768px) {
	.cards {
		margin-right: -1em;
		margin-left: -1em;
		overflow: hidden;
	}
	.cards .card {
		float: left;
		width: 30%;
		padding: 0.5em;
		margin-left: 1em;

		.card-image {
			width: 100%;
		}

		figcaption {
			text-align: center;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			height: 4em;
		}
	}
}
@media all and (min-width: 1024px) {
	.cards .card {
		width: 23%;
	}
}
