// initially horizontal layout
.card {
	margin: 0 0 1em 0;
	overflow: hidden;
	padding: 0.5em;
	background: $white;
	border-top: solid 1px #eee;

	.card-image {
		float: left;
		width: 33%;
	}

	figcaption {
		text-align: left;
		overflow: hidden;
		line-height: 1.2;
	}
}

// wrap in .cards container for size control
.cards {
	clear: left;
	list-style: none;
}

@media all and (min-width: 768px) {
	.cards {
		margin-right: -1em;
		margin-left: -1em;
		overflow: hidden;
	}
	.cards .card {
		float: left;
		width: 30%;
		padding: 1em;
		margin-left: 1em;

		.card-image {
			width: 100%;
		}

		figcaption {
			text-align: center;
			height: 5em;
		}
	}
}
@media all and (min-width: 1024px) {
	.cards .card {
		width: 23%;
	}
}
