.cards {
	list-style: none;
	margin-right: -1em;
	margin-left: -1em;
	overflow: hidden;
}
.card {
	float: left;
	margin-bottom: 1em;
	margin-left: 1em;
	padding: 0.5em;
	background: #f3f3f3;
	max-width: 284px;
	width: 42%;
	overflow: hidden;
}
@media all and (min-width: 768px) {
	.card {
		padding: 1em;
		width: 30%;
	}
}
@media all and (min-width: 1024px) {
	.card {
		width: 23%;
	}
}
