.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.row > .row {
	width: auto;
	margin-left: -1em;
	margin-right: -1em;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none;
}

.column {
	position: relative;
	float: left;
	width: 100%;
	padding-right: 1em;
	padding-left: 1em;
}

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }



.column.small-centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.column.small-uncentered {
	margin-left: 0;
	margin-right: 0;
	float: left;
}
.column.small-centered:last-child {
	float: none;
}
.column.small-uncentered:last-child {
	float: left;
}


.small-1 {
	width: 8.33333%;
}
.small-2 {
	width: 16.66667%;
}
.small-3 {
	width: 25%;
}
.small-4 {
	width: 33.33333%;
}
.small-5 {
	width: 41.66667%;
}
.small-6 {
	width: 50%;
}
.small-7 {
	width: 58.33333%;
}
.small-8 {
	width: 66.66667%;
}
.small-9 {
	width: 75%;
}
.small-10 {
	width: 83.33333%;
}
.small-11 {
	width: 91.66667%;
}
.small-12 {
	width: 100%;
}

.small-offset-0 {
	margin-left: 0 !important;
}
.small-offset-1 {
	margin-left: 8.33333% !important;
}

.small-offset-2 {
	margin-left: 16.66667% !important;
}

.small-offset-3 {
	margin-left: 25% !important;
}

.small-offset-4 {
	margin-left: 33.33333% !important;
}

.small-offset-5 {
	margin-left: 41.66667% !important;
}

.small-offset-6 {
	margin-left: 50% !important;
}

.small-offset-7 {
	margin-left: 58.33333% !important;
}

.small-offset-8 {
		margin-left: 66.66667% !important;
	}

.small-offset-9 {
	margin-left: 75% !important;
}

.small-offset-10 {
	margin-left: 83.33333% !important;
}

.small-offset-11 {
	margin-left: 91.66667% !important;
}

.column.small-centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.column.small-uncentered {
	margin-left: 0;
	margin-right: 0;
	float: left;
}
.column.small-centered:last-child {
	float: none;
}
.column.small-uncentered:last-child {
	float: left;
}


// 768px
@include respond-min($breakpoint-small) {
	.column {
		padding-left: 1.5em;
	}

	.column.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.column.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.column.medium-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	.column.medium-centered:last-child {
		float: none;
	}
	.column.medium-uncentered:last-child {
		float: left;
	}

	.medium-1 {
		width: 8.33333%;
	}
	.medium-2 {
		width: 16.66667%;
	}
	.medium-3 {
		width: 25%;
	}
	.medium-4 {
		width: 33.33333%;
	}
	.medium-5 {
		width: 41.66667%;
	}
	.medium-6 {
		width: 50%;
	}
	.medium-7 {
		width: 58.33333%;
	}
	.medium-8 {
		width: 66.66667%;
	}
	.medium-9 {
		width: 75%;
	}
	.medium-10 {
		width: 83.33333%;
	}
	.medium-11 {
		width: 91.66667%;
	}
	.medium-12 {
		width: 100%;
	}
	.medium-offset-0 {
		margin-left: 0 !important;
	}
	.medium-offset-1 {
		margin-left: 8.33333% !important;
	}
	.medium-offset-2 {
		margin-left: 16.66667% !important;
	}
	.medium-offset-3 {
		margin-left: 25% !important;
	}
	.medium-offset-4 {
		margin-left: 33.33333% !important;
	}
	.medium-offset-5 {
		margin-left: 41.66667% !important;
	}
	.medium-offset-6 {
		margin-left: 50% !important;
	}
	.medium-offset-7 {
		margin-left: 58.33333% !important;
	}
	.medium-offset-8 {
		margin-left: 66.66667% !important;
	}
	.medium-offset-9 {
		margin-left: 75% !important;
	}
	.medium-offset-10 {
		margin-left: 83.33333% !important;
	}
	.medium-offset-11 {
		margin-left: 91.66667% !important;
	}


	.column.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.column.medium-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	.column.medium-centered:last-child {
		float: none;
	}
	.column.medium-uncentered:last-child {
		float: left;
	}

}

@include respond-min($breakpoint-large) {
	.column.large-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.column.large-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}
	.column.large-centered:last-child {
		float: none;
	}
	.column.large-uncentered:last-child {
		float: left;
	}


	.large-1 {
		width: 8.33333%;
	}
	.large-2 {
		width: 16.66667%;
	}
	.large-3 {
		width: 25%;
	}
	.large-4 {
		width: 33.33333%;
	}
	.large-5 {
		width: 41.66667%;
	}
	.large-6 {
		width: 50%;
	}
	.large-7 {
		width: 58.33333%;
	}
	.large-8 {
		width: 66.66667%;
	}
	.large-9 {
		width: 75%;
	}
	.large-10 {
		width: 83.33333%;
	}
	.large-11 {
		width: 91.66667%;
	}
	.large-12 {
		width: 100%;
	}
	.large-offset-0 {
		margin-left: 0 !important;
	}
	.large-offset-1 {
		margin-left: 8.33333% !important;
	}
	.large-offset-2 {
		margin-left: 16.66667% !important;
	}
	.large-offset-3 {
		margin-left: 25% !important;
	}
	.large-offset-4 {
		margin-left: 33.33333% !important;
	}
	.large-offset-5 {
		margin-left: 41.66667% !important;
	}
	.large-offset-6 {
		margin-left: 50% !important;
	}
	.large-offset-7 {
		margin-left: 58.33333% !important;
	}
	.large-offset-8 {
		margin-left: 66.66667% !important;
	}
	.large-offset-9 {
		margin-left: 75% !important;
	}
	.large-offset-10 {
		margin-left: 83.33333% !important;
	}
	.large-offset-11 {
		margin-left: 91.66667% !important;
	}
}
