//   =MASTHEAD   ==================================================

.masthead {
	position: relative;
	z-index: 100;
	font-size: 0.925em;
	margin-bottom: 2em;
	overflow: hidden;
	background-color: rgba(255,255,255,0.7);

	.nav--block {
		padding-right: 0.5em;

		> a, > a:visited {
			line-height: 44px;
			padding: 0 0.75em;
			vertical-align: bottom;
			color: #666;
			text-transform: uppercase;
		}
	}
}

.sitelogo {
	margin: 0;
	padding: 0 10px;
	font-size: 1em;
	line-height: 44px;
}
.sitelogo a, .sitelogo a:visited {
	text-align: left;
}

@media all and (min-width: 768px) {
	.masthead {
		font-size: 1.3em;
		padding-top: 1em;
		padding-bottom: 1em;
	}

}